.social-icons {
	text-align: center;
	margin: 0 0 50px 0;

	&__icon {
		margin: 100px 10px;
	}


.icons {
	display: inline-block;
	

	
	
}
&--icons {
	width: 40px;
	height: 40px;

	@mixin atSmall {
	width: 50px;
	height: 50px;
	}

	}
}

