
li {
	list-style: none;
	text-align: left;

}


.websites-section {
	height: 1100px;
	background-color: #FFF;
	margin-top: 10px;
	

	&__subtitle {
		font-size: 1.1rem;
		color: $mainPurple;
		text-align: center;
		font-style: italic;

		@mixin atMedium {
			font-size: 1.6rem;
		}

	}

	&__description {
		text-align: center;
		font-size: 1rem;

		@mixin atMedium {
			font-size: 1.2rem;
		}

	}
	&__image {
		margin: auto;
		padding: auto;
		display: block;
		position: relative;
	}
	&__list {
		width: 250px;
		display: block;
		margin: auto;

	}

	
}